<%- include("./partials/header") %>
<style>
    body{
        display: flex; justify-content: center;
        align-items: center; height: 90vh;text-align: center;
    } 
    a{text-decoration: none;color: white;}
</style>
<body>
    <header>
        <h2>Bincom Test Interviews</h2>
        <h4>Oori Mark</h4>
         <a href="/getResult"><button class="btn btn-primary">Continue</button></a>
    </header>
</body>

<%- include("./partials/footer") %>